/* 

Notes après discussion avec Flo

Les joueurs seront représentés par des images de logo qui seront le background image d'une div qui se déplace

*/

* {
  box-sizing: border-box;
}

body {
  display: flex;
}

#game-map {
  background-image: url("../img/background/dungeon-gameboard-optim.jpg");
  background-repeat: no-repeat;
  width: 1120px;
  height: 705px;
  display: grid;
  grid-template-rows: repeat(17, 1fr);
  grid-template-columns: repeat(27, 1fr);
}

.game-square {
  background-repeat: no-repeat;
  background-size: cover;
}

#interaction-panel {
  border: 1px solid black;
  background-image: url("../img/background/Statsheet-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 25.5vw;
  height: 705px;
}

#state {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stat-panel {
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.stat-sheet {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 50%;
  width: 50%;
}

#span-lidda {
  background-color: purple;
  height: 20px;
  color: whitesmoke;
}

#span-jozian {
  background-color: blue;
  height: 20px;
  color: whitesmoke;
}

#span-mialye {
  background-color: green;
  height: 20px;
  color: whitesmoke;
}

#span-regdar {
  background-color: red;
  height: 20px;
  color: whitesmoke;
}

#control-panel {
  height: 150px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn {
  width: 140px;
  height: 35px;
}

#dice-render {
  height: 155px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------------- Interractions --------------------------- */

.current-player {
  border-bottom: 5px solid yellow;
}

.is-selected {
  border: 3px solid red;
  border-radius: 200px;
}

.dead-body {
  background-image: url("../img/background/skeleton-transparent.svg");
}

/* ------------------ Monsters and players classes ------------------ */

#regdar {
  background-image: url("../img/players_and_monsters/regdar.svg");
}

#jozian {
  background-image: url("../img/players_and_monsters/jozian.svg");
}

#mialye {
  background-image: url("../img/players_and_monsters/mialye.svg");
}

#lidda {
  background-image: url("../img/players_and_monsters/lidda.svg");
}

#goblin {
  background-image: url("../img/players_and_monsters/goblin.svg");
}

#gnoll {
  background-image: url("../img/players_and_monsters/gnoll.svg");
}

#ogre {
  background-image: url("../img/players_and_monsters/ogre.svg");
}

#troll {
  background-image: url("../img/players_and_monsters/troll.svg");
}

#skeleton {
  background-image: url("../img/players_and_monsters/skeleton.svg");
}

#specter {
  background-image: url("../img/players_and_monsters/specter.svg");
}

#lich-king {
  background-image: url("../img/players_and_monsters/lichKing.svg");
}

/* ------------------ Walls, doors, pillars, objects and traps classes ------------------ */

.wall {
  background-image: url("../img/map_elements/stoneWall.svg");
}

.door {
  background-image: url("../img/map_elements/doorway.svg");
}

.pillar {
  background-image: url("../img/map_elements/pillar.svg");
}

.locked-chest {
  background-image: url("../img/map_elements/locked-chest.svg");
}

.opened-chest {
  background-image: url("../img/map_elements/open-chest.svg");
}

.inactive-hole-trap {
  background-image: url("../img/map_elements/traps/inactive-hole-trap.svg");
}

.inactive-fireball-trap {
  background-image: url("../img/map_elements/traps/inactive-fireball-trap.svg");
}

.inactive-poison-trap {
  background-image: url("../img/map_elements/traps/inactive-poison-trap.svg");
}
